img{
	width: 100px;
	height: 90PX;
}
p,h2,h3{
	font-style: italic;
}
body{
	background-image: url(blegur.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%
}