body{
	text-align: center;
	background-image: url(free-abstract-background-11-vector.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 120% 120%
}

img{
	background: transparent;
	width: 25px;
	height: 25px;

}
